<div id="whos-online" class="{{if isLong 'collapsed'}}">
    <span title="{{i18n "whos_online.tooltip"}}">
    	{{i18n "whos_online.title"}} ({{online.users.length}}):
    </span>
	{{#each users as |user|}}
		{{whos-online-avatar user=user}}
	{{/each}}
</div>
