<div id="whos-online">
    <span title="{{i18n "whos_online.tooltip"}}">
    	{{i18n "whos_online.title"}} ({{online.users.length}}):
    </span>
	{{#each online.users as |user|}}
		<a data-user-card="{{user.username}}">
			{{avatar user avatarTemplatePath="avatar_template" usernamePath="username" imageSize="small"}}
		</a>
	{{/each}}
	
</div>